header {
	box-shadow: 0 0 2px #000;
	font-family: sans-serif;
	font-weight: 500;
}
.container {
	max-width: 1020px
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
ul {
	align-items: center;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
}
ul li {
	position: relative;
}
ul li ul {
	position: absolute;
	flex-direction: column;
	height: 0;
	overflow: hidden;
	width: 100%;
}
ul li ul li a {
	background-color: #5fcf80;
	color: white;
}
ul li:hover ul {
	height: auto;
}
li, a {
	list-style: none;
	text-decoration: none;
	padding: 6px;
	color: #8c989e;
	display: block;
}
h1, #first-level li:last-child a {
	color: #5fcf80;
}
a:hover {
	background-color: #5fcf80;
	color: white;
}
h1 {
	color: #5fcf80;
	font-size: 22px;
}
@media (max-width: 768px) {
	.container, ul{
		flex-direction: column;
	}